<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio </title>
    </head>
    <body>
    <form th:object="${persona}">
        <label>Nombre</label>
        <input type="text" th:field="*{nombre}">
        <br><br>
        <label>Apellido</label>
        <input type="text" th:field="*{apellido}">
        <br><br>
        <label>E-mail</label>
        <input type="text" th:field="*{email}">
        <br><br>
        <label>Telefono</label>
        <input type="text" th:field="*{telefono}">
        <br><br>
        <label>Pais</label>
        <select name="">
            <option th:each="pais: ${paises}" th:value="${pais.idPais}" th:text="${pais.nombre}"></option>
        </select>
        <br><br>
        <button type="submit">Guardar</button>


    </form>







    </body>
</html>