<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Personas</title>
    </head>
    <body>

        <a th:href="@{/agregar}">Agregar Persona</a>
        <br><br>
        <table border="1">
            <tr>
                <th>Id Persona</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>E-mail</th>
                <th>Telefono</th>
                <th>Pais</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="persona: ${personas}">
               <td th:text="${persona.idPersona}"></td>
               <td th:text="${persona.nombre}"></td>
               <td th:text="${persona.apellido}"></td>
               <td th:text="${persona.email}"></td>
               <td th:text="${persona.telefono}"></td>
               <td th:text="${persona.pais.nombre}"></td>
                <td>
                    <a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"></a>
                </td>
                <td>
                    <a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"></a>
                </td>

            </tr>
        </table>
    </body>
</html>