<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template :: head">
        <meta charset="UTF-8">
        <title>Personas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>

        <header th:replace="plantilla/template :: header"></header>

        <div class="container">
            <h1 th:text="${titulo}"></h1>
            <div class="row justify-content-center">
                <div class="col-6 mt-2">
                    <a class="btn btn-success btn-sm" th:href="@{/personas/agregar}" th:text="'Agregar Persona'"></a>
                </div>
                <div class="col-6 mb-2">
                    <!-- Busqueda -->
                    <form class="form-inline my-2 my-lg-0 mb-2 justify-content-end">
                        <input class="form-control mr-sm-2" type="search" placeholder="Busqueda" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <table class="table">
                <tr class="bg-dark text-white">
                    <th>Id Persona</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>E-mail</th>
                    <th>Telefono</th>
                    <th>Pais</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="persona: ${personas}">
                    <td th:text="${persona.idPersona}"></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td th:text="${persona.pais.nombre}"></td>
                    <td>
                        <a class="btn btn-warning btn-sm" th:href="@{/personas/editar/} + ${persona.idPersona}" th:text="Editar"></a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" th:href="@{/personas/eliminar/} + ${persona.idPersona}" th:text="Eliminar" onclick="return confirm('Estas segura de elimiar el registro?')"></a>
                    </td>

                </tr>
            </table>
        </div>

    <footer th:replace="plantilla/template :: footer"></footer>

    </body>
</html>